{% extends 'ehr_app/base.html' %} {% block title %}EHR Exchange Wall | All EHR Dataset{% endblock %}
<div>{% block content %} {% load static %}</div>


<div class="mt-20">

    <h1 class="text-3xl text-center font-bold mb-4"><i class="fa-solid fa-database mr-2"></i>All EHR Dataset</h1>


    {% if ehr_datasets %}

    <section id="tableSection">
        <!-- <div class="text-center font-bold text-xl">Table</div> -->

        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full text-left text-gray-500 text-sm font-light">
                  <thead class="border-b font-medium">
                    <tr>
                      <th scope="col" class="px-6 py-4">#</th>
                      <th scope="col" class="px-6 py-4 text-center">Name</th>
                      <th scope="col" class="px-6 py-4 text-center">Category</th>
                      <th scope="col" class="px-6 py-4 text-center">License</th>
                      <th scope="col" class="px-6 py-4 text-center">File type</th>
                      <th scope="col" class="px-6 py-4 text-center">File size</th>
                      <th scope="col" class="px-6 py-4 text-center">Downloads</th>
                      <th scope="col" class="px-6 py-4 text-center">Usability</th>
                      <th scope="col" class="px-6 py-4 text-center">Pub date</th>
                      <th scope="col" class="px-6 py-4 text-center">Desc</th>
                      <th scope="col" class="px-6 py-4 text-center">URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dataset in ehr_datasets %}
                        <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 border-neutral-500 hover:bg-neutral-200">
                            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ forloop.counter }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.name }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.category }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.license }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.file_type }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.file_size }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.downloads }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.usability }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.pub_date }}</td>
                            <td class="whitespace-nowrap px-6 py-4 text-center">{{ dataset.desc }}</td>

                            <td class="whitespace-nowrap px-6 py-4 text-center hover:text-blue-600">
                                <a href="{{ dataset.slug }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% else %}
        <p>No EHR datasets available.</p>
    {% endif %}

</div>

{% endblock %}