{% extends 'ehr_app/base.html' %} {% block title %}EHR Exchange Wall | Support{% endblock %}
<div>{% block content %} {% load static %}</div>


<div class="mt-10 bg-gray-100">

    <section class="mx-20 p-20 my-10 ">

        <div class="container mx-auto my-8 p-8 bg-white shadow-md rounded-md">
            
            <h1 class="text-3xl font-bold mb-4"><i class="fa-solid fa-headset mr-2"></i>Support - EHR Exchange Wall</h1>
            
            <p class="mb-4">For any assistance or support inquiries related to EHR Exchange Wall, please feel free to contact our support team. We are here to help you with any questions or concerns you may have.</p>
            
            <ul class="list-disc pl-8 mb-4">
                <li class="my-4"><strong><i class="fa-solid fa-envelope mr-2"></i>Email:</strong> <a href="mailto:support@ehrexchangewall.com">support@ehrexchangewall.com</a></li>
                
                <li class="my-4"><strong><i class="fa-solid fa-phone mr-2"></i>Phone:</strong>+91 99999 99999</a></li>
            </ul>
            
            <p class="mb-4">Our support team is dedicated to providing prompt and helpful responses to ensure you have a positive experience with our platform. Whether you need technical assistance, have questions about using EHR Exchange Wall, or require general support, don't hesitate to reach out to us.</p>
            
            <p class="mb-4">We aim to respond to your inquiries as soon as possible.</p>
            
            <p class="mb-4">Thank you for choosing EHR Exchange Wall! We appreciate your trust in our platform.</p>
            
        </div>

    </section>


</div>

{% endblock %}